*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

Header{
    background-color: aliceblue;
    padding: 8px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    margin: 80px;
    justify-content: center;
    gap: 40px;

    
}

.box{
    border: 1px solid black;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

form{
      display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}